{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Developer - Kelvin Anane Gyambiby" />
    <title>BlueBerry Hostel - Dashboard</title>
    <link rel="stylesheet" href="{% static 'core/dashboard.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>
  <body>
    <!-- login message -->
      {% if message %}
      <div>{{ message }}</div>
      {% endif %}

        {% for message in messages %}
        <div class="popup {{ message.tags }}">
          {{ message }}
        </div> 
        {% endfor %}

    <header>
      <div class="hero">
        <img
          src="{% static 'core/img/blueberry_logo.jpg' %}"
          alt="BlueBerry Hostel Logo"
          class="logo"
        />
        <p>BlueBerry</p>
      </div>

      <div class="navbar">
       <!--  Welcome {{ request.user.first_name }} -->
        <i class="fa-solid fa-circle-user"></i>
        <i class="fa-solid fa-bell"></i>
        <div class="logout">
         
          <a href="{% url 'logout' %}"> <i class="fa-solid fa-sign-out"></i></a>
        </div>
      </div>
    </header>

    <!-- Card container -->
    <section class="card-container reveal">
      <div class="cards">
        <div class="card">
          <i class="fa-solid fa-bed"></i>
          <h3>Available Room</h3>
          <p>{{ available_rooms }}</p>
        </div>
        <div class="card">
          <i class="fa-solid fa-book"></i>
          <h3>Total Bookings</h3>
          <p>{{ total_bookings }}</p>
        </div>
        <div class="card">
          <i class="fa-solid fa-hourglass-half"></i>
          <h3>Pending</h3>
          <p>{{ pending }}</p>
        </div>
        <div class="card">
          <i class="fa-solid fa-circle-check"></i>
          <h3>Approved</h3>
          <p>{{ approved }}</p>
        </div>
        <div class="card">
          <i class="fa-solid fa-circle-xmark"></i>
          <h3>Rejected</h3>
          <p>{{ rejected }}</p>
        </div>
      </div>
    </section>

      <!-- RECENT BOOKING -->
      <div class="recent-section reveal">
        <h3><i class="fa-solid fa-clock-rotate-left"></i> Recent Booking</h3>

        {% if recent_booking %}
        <p>Room: {{ recent_booking.room.room_number }}</p>
        <p>Capacity: {{ recent_booking.room.capacity }}</p>
        <p>Status: {{ recent_booking.status }}</p>
        {% else %}
        <p>No recent booking</p>
        {% endif %}
      </div>

      <!-- AVAILABLE ROOMS -->
      <div class="available-section reveal">
        <h3><i class="fa-solid fa-door-open"></i> Available Rooms</h3>
        <table>
          <tr>
            <th>Room</th>
            <th>Capacity</th>
            <th>Action</th>
          </tr>

          {% for room in rooms %}
          <tr>
            <td>{{ room.room_number }}</td>
            <td>{{ room.capacity }}</td>
            <td>
              <form method="POST" action="{% url 'booking' %} " onsubmit="handleSubmit(this)">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="room_number"
                  value="{{ room.room_number }}"
                />
                <button class="btn"> <i class="fa-solid fa-plus"></i>Book</button>
                <span id="loading" style="display:none;">Processing...</span>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- BOOKING HISTORY -->
      <div class="booking-section reveal">
        <h3><i class="fa-solid fa-list"></i>Booking History</h3>
        <table>
          <tr>
            <th>Room</th>
            <th>Status</th>
            <th>Action</th>
          </tr>

          {% for booking in bookings %}
          <tr>
            <td>{{ booking.room.room_number }}</td>
            <td class="status-{{ booking.status }}">{{ booking.status }}</td>
            <td>
              {% if booking.status == 'pending' %}
              <a href="{% url 'cancel_booking' booking.id %}">
                <button class="btn"> <i class="fa-solid fa-xmark"></i> Cancel</button>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

  <!-- Footer -->
      <footer>
        <div class="footer-container">
      <div class="social-media-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>

      &copy; {{ datetime }} BlueBerry Hostel

      <div class="sponsor">Best Brain College</div>
    </div>
    </footer>
    <!-- Javascripts -->
    <script>
      setTimeout(()=>{
        document.querySelectorAll('.popup').forEach(el => {
          el.style.display='none';
        });
      }, 3000);

       // Reveal
      const reveals = document.querySelectorAll(".reveal");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("active");
            }
          });
        },
        {
          threshold: 0.2,
        },
      );

      reveals.forEach((el) => observer.observe(el));

        // Show loading on form submit
      function handleSubmit(form) {
        const btn = form.querySelector("button");
         btn.disabled = true;
         btn.innerText = "Processing...";
}
    </script>
  </body>
</html>
