{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Developer - Kelvin Anane Gyambiby" />
    <link rel="icon" href="{% static 'core/img/blueberry_logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'core/style.css' %}" />
    <title>BlueBerry Hostel</title>
  </head>
  <body>
    <!-- logout feedback -->
    {% for message in messages %} {% if message %}
    <div class="popup {{ message.tags }}">{{ message }}</div>
    {% endif %} {% endfor %}

    <!-- Header section -->
    <header>
      <div class="hero">
        <img
          src="{% static 'core/img/blueberry_logo.jpg' %}"
          alt="BlueBerry Hostel Logo"
          class="logo"
        />
        <p>BlueBerry</p>
      </div>

      <nav class="nav-links">
        <ul>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Get started</a></li>
        </ul>
      </nav>
    </header>

    <!-- Image slider section -->
    <section class="image-slide-section reveal">
      <div class="slider">
        <div class="slides">
          <div class="slide">
            <img
              loading="lazy"
              src="{% static 'core/img/two_beds.jpg' %}"
              alt="slide 1"
            />
            <div class="overlay">
              <h1>Find and Book Your Hostel Room in Minutes</h1>
              <p>No stress. No confusion. Just simple booking.</p>
              <a href="{% url 'signup' %}">View Rooms</a>
            </div>
          </div>

          <div class="slide">
            <img
              loading="lazy"
              src="{% static 'core/img/nice_view.jpg' %}"
              alt="slide 2"
            />
            <div class="overlay">
              <h1>Beautiful Environment</h1>
              <p>Enjoy a peaceful and inspiring view</p>
              <a href="{% url 'signup' %}">Explore</a>
            </div>
          </div>

          <div class="slide">
            <img
              loading="lazy"
              src="{% static 'core/img/double_bed.jpg' %}"
              alt="slide 3"
            />
            <div class="overlay">
              <h1>Modern Facilities</h1>
              <p>Everything you need in one place</p>
              <a href="{% url 'signup' %}">See More</a>
            </div>
          </div>
        </div>
        <div class="dots">
          <span class="dot active" data-index="0"></span>
          <span class="dot" data-index="1"></span>
          <span class="dot" data-index="2"></span>
        </div>
      </div>
    </section>

    <!-- How it works -->
    <section class="how-it-works reveal">
      <h2>How It Works</h2>

      <div class="steps">
        <div class="step">
          <i class="fa-solid fa-user-plus"></i>
          <h3>Create Account</h3>
          <p>Sign up in seconds</p>
        </div>

        <div class="step">
          <i class="fa-solid fa-bed" style="color: #6c757d"></i>
          <h3>Choose Room</h3>
          <p>Select available rooms</p>
        </div>

        <div class="step">
          <i class="fa-solid fa-check-circle" style="color: green"></i>
          <h3>Get Approved</h3>
          <p>Wait for admin confirmation</p>
        </div>
      </div>
    </section>

    <!-- Facilities section -->
    <section class="facilities-section reveal">
      <h2>Facilities</h2>
      <div class="facilities-container">
        <div class="facility-card reveal">
          <i class="fa-solid fa-coffee"></i>
          <h3>Cafeteria</h3>
        </div>
        <div class="facility-card reveal">
          <i class="fa-solid fa-kitchen-set"></i>
          <h3>Kitchen</h3>
        </div>
        <div class="facility-card reveal">
          <i class="fa-solid fa-lock"></i>
          <h3>Locker</h3>
        </div>
        <div class="facility-card reveal">
          <i class="fa-solid fa-book-reader"></i>
          <h3>Study Room</h3>
        </div>
        <div class="facility-card reveal">
          <i class="fa-solid fa-film"></i>
          <h3>Cinema</h3>
        </div>
      </div>
    </section>

    <!-- Testimonial section -->
    <section class="testimonial-section reveal">
      <h2>Testimonials</h2>
      <div class="testimonial-container">
        <div class="testimonial-card reveal">
          <img
            loading="lazy"
            src="{% static 'core/img/image1.png' %}"
            alt="Testimony 1"
          />
          <h3>John Smith</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            aliquid nihil,<br />
          </p>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
        </div>
        <div class="testimonial-card reveal">
          <img
            loading="lazy"
            src="{% static 'core/img/image2.png' %}"
            alt="Testimony 2"
          />
          <h3>John Smith</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            aliquid nihil,<br />
          </p>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="testimonial-card reveal">
          <img
            loading="lazy"
            src="{% static 'core/img/image3.png' %}"
            alt="Testimony 1"
          />
          <h3>John Smith</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            aliquid nihil,<br />
          </p>

          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star" style="color: gold"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </section>

    <!-- FAQ -->
    <section id="faq" class="faq-section reveal">
      <h2>Frequently Asked Questions</h2>

      <div class="faq-container">
        <div class="faq-item">
          <button class="faq-question">
            How do I book a room?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="faq-answer">
            <p>Select a room from your dashboard and click the book button.</p>
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-question">
            Can I book more than one room?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="faq-answer">
            <p>No. You can only have one active booking at a time.</p>
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-question">
            What happens if a room is full?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="faq-answer">
            <p>You will not be able to book it once capacity is reached.</p>
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-question">
            What does "pending" mean?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="faq-answer">
            <p>Your booking is awaiting admin approval.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to action section -->
    <section class="call-to-action-section reveal">
      <div class="call-to-action-container">
        <div class="cta-info">
          <h3>Ready to Get Started?</h3>
          <p>Secure your room before it's gone</p>
        </div>
        <a href="{% url 'signup' %}" class="cta-btn"> Book a room </a>
      </div>
    </section>

    <!-- Newsletter section -->
    <section class="newsletter-section reveal">
      <div class="newsletter-container">
        <div class="newsletter-info">
          <p>Subscribe to get our latest info</p>
          <p>Get info about what time the room is open</p>
        </div>
        <form>
          <input type="email" placeholder="Your Email Address" />
          <button>Subscribe</button>
        </form>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="social-media-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>

      &copy; {{ datetime }} BlueBerry Hostel

      <div class="sponsor">Best Brain College</div>
    </footer>

    <!-- Javascript -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const slides = document.querySelector(".slides");
        const slidesItems = document.querySelectorAll(".slide");
        const slider = document.querySelector(".slider");
        const dots = document.querySelectorAll(".dot");

        let index = 0;
        let intervalTime = 3000;
        let interval;

        // Function to move to a specific slide
        function goToSlide(i) {
          index = i;
          const width = slider.clientWidth;
          slides.style.transform = `translateX(-${index * width}px)`;
          updateDots();
        }

        // Update dots active state
        function updateDots() {
          dots.forEach((dot) => dot.classList.remove("active"));
          dots[index].classList.add("active");
        }

        // Move to next slide
        function nextSlide() {
          index++;
          if (index >= slidesItems.length) index = 0;
          goToSlide(index);
        }

        // Start the automatic slider
        function startSlider() {
          interval = setInterval(nextSlide, intervalTime);
        }

        // Stop the automatic slider
        function stopSlider() {
          clearInterval(interval);
        }

        // Dots clickable
        dots.forEach((dot) => {
          dot.addEventListener("click", () => {
            goToSlide(Number(dot.dataset.index));
          });
        });

        // Pause on hover
        slider.addEventListener("mouseenter", stopSlider);
        slider.addEventListener("mouseleave", startSlider);

        // Initialize
        goToSlide(0);
        startSlider();

        //Pop up
        setTimeout(() => {
          document.querySelectorAll(".popup").forEach((el) => {
            el.style.display = "none";
          });
        }, 5000);

        //FAQ
        const faqQuestions = document.querySelectorAll(".faq-question");

        faqQuestions.forEach((btn) => {
          btn.addEventListener("click", () => {
            const answer = btn.nextElementSibling;

            answer.classList.toggle("open");
            btn.classList.toggle("active");
          });
        });

        // Reveal
        const reveals = document.querySelectorAll(".reveal");

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("active");
              }
            });
          },
          {
            threshold: 0.2,
          },
        );

        reveals.forEach((el) => observer.observe(el));
      });
    </script>
  </body>
</html>
