{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Developer - Kelvin Anane Gyambiby" />
    <link rel="icon" href="{% static 'core/img/blueberry_logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'core/login.css' %}" />
    <title>BlueBerry Hostel - Login</title>
  </head>
  <body>
    <!-- sigup success feedback and login error -->
    {% for message in messages %} {% if message %}
    <div class="popup {{ message.tags }}">{{ message }}</div>
    {% endif %} {% endfor %}

    <section class="login-section reveal">
      <div class="login-container">
        <div class="left-side">
          <img
            loading="lazy"
            src="{% static 'core/img/Bunk Bed.jpg'%}"
            alt="Bunk Bed"
          />
        </div>

        <div class="right-side">
          <h2>Welcome, Back!</h2>
          <p>Login to your account</p>

          <!-- <div class="divider">
            <span class="first-line"></span>
            <span class="or">or</span>
            <span class="second-line"></span>
          </div>  -->

          <form method="POST" onsubmit="handleSubmit(this)">
            {% csrf_token %}
            <label for="usernamee">Username</label>
            <input type="text" id="username" name="username" required />
            <label for="usernamee">Password</label>
            <input type="password" id="username" name="password" required />
            <button type="submit">
              <i class="fa-solid fa-sign-in"></i>Login
            </button>
            <span id="loading" style="display: none">Logging in...</span>
          </form>

          <div class="signup-link">
            <p>
              Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
            </p>
            <p>
              Forgot password? <a href="{% url 'password_reset' %}">Reset it</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Javascripts -->
    <script>
      //Pop feedback
      setTimeout(() => {
        document.querySelectorAll(".popup").forEach((el) => {
          el.style.display = "none";
        });
      }, 5000);

      // Reveal
      const reveals = document.querySelectorAll(".reveal");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("active");
            }
          });
        },
        {
          threshold: 0.2,
        },
      );

      reveals.forEach((el) => observer.observe(el));

      // Show loading on form submit
      function handleSubmit(form) {
        const btn = form.querySelector("button");
        btn.disabled = true;
        btn.innerText = "Logging in...";
      }
    </script>
  </body>
</html>
