{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Developer - Kelvin Anane Gyambiby" />
    <link rel="stylesheet" href="{% static 'core/signup.css' %}" />
    <link rel="icon" href="{% static 'core/img/blueberry_logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <title>BlueBerry Hostel - Sign up</title>
  </head>
  <body>
    {% for message in messages %}
    <div class="popup {{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <section class="login-section reveal">
      <div class="login-container">
        <div class="left-side">
          <img
            loading="lazy"
            src="{% static 'core/img/Bunk Bed.jpg'%}"
            alt="Bunk Bed"
          />
        </div>

        <div class="right-side">
          <h2>Signup</h2>
          <form method="POST" onsubmit="handleSubmit(this)">
            {% csrf_token %}
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" required />

            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" required />

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
            
            <label for="password">Password</label>
            <input type="password" id="username" name="password" required />

            <div class="gender-section">
              <label for="gender">Gender</label><br />

              <input
                type="radio"
                id="gender"
                name="gender"
                value="male"
                style="margin-bottom: 20px; margin-top: 10px"
              />
              <label for="male">Male</label><br />

              <input type="radio" id="gender" name="gender" value="female" />
              <label for="female">Female</label>
            </div>

            <label for="phone_number">Phone Number</label>
            <input
              type="number"
              id="phone_number"
              name="phone_number"
              required
            />

            <!--  <label for="role">Role</label>
            <select name="role" id="role">
              <option value="none" name="none">Select your role</option>
              <option value="user" name="user">User</option>
              <option value="admin" name="admin">Admin</option>
            </select> -->

            <button type="submit">
              <i class="fa-solid fa-user-plus"></i>Signup
            </button>
            <span id="loading" style="display: none">signing up...</span>
          </form>

          <div class="signup-link">
            <p>
              Already have an account? <a href="{% url 'login' %}">Login</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Javascripts -->
    <script>
      //Pop feedback
      setTimeout(() => {
        document.querySelectorAll(".popup").forEach((el) => {
          el.style.display = "none";
        });
      }, 5000);

      document.addEventListener("DOMContentLoaded", function () {
        // Reveal
        const reveals = document.querySelectorAll(".reveal");

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("active");
              }
            });
          },
          {
            threshold: 0.2,
          },
        );

        reveals.forEach((el) => observer.observe(el));

        // Show loading on form submit
        function handleSubmit(form) {
          const btn = form.querySelector("button");
          btn.disabled = true;
          btn.innerText = "Signing up...";
        }
      });
    </script>
  </body>
</html>
